* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header.header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6be00;
}
.left>img, .right>img {
    max-height: 20vh;
    padding: 10px;
    border-radius: 20% 20% 55% 50%;
}
.right > img {max-width: 15vh;}
input.search {
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 1em;
    background-color: #eed1f4;
}
.subbtn {
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    background-color: #702082e8;
}
.subbtn:hover {background-color: #702082cc;}